// *** priority-nav *** //
@mixin priority-nav() {
  position: relative;
  &:after {
    content: '';
    clear: both;
    display: table;
  }
  ul { 
    max-width: 100%;
    overflow-x: auto; 
  }
  li { 
    display: table-cell; 
    white-space: nowrap;
  }
  .is-hidden { visibility: hidden; }
  
  &.js-priority-nav ul { 
    float: left;
    max-width: none;
    overflow-x: hidden; 
  }
  .js-nav-hidden {
    position: absolute;
    right: 0;
    top: 100%;
    > li { display: list-item; }
  }
  .js-nav-toggle {
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
  }
}

.priority-nav { @include priority-nav(); }